.create-post h2 {
	margin-bottom: 30px;
}
.create-post form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.radio-btns {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 2px solid grey;
}
.radio-btns h3 {
	margin-bottom: 5px;
}
.radio-btn__wrapp {
	display: flex;
	align-items: center;
	gap: 10px;
}
.create-post button {
	font-size: 20px;
}
.create-post input:not(input[type="radio"]) {
	width: 30%;
}
.create-post textarea {
	min-height: 200px;
	height: fit-content;
}
